body {
  font-family: Helvetica;
}

.chord:not(:last-child) {
  padding-right: 10px;
}

.paragraph {
  margin-bottom: 1em;
}

.row {
  display: flex;
  margin-top: 5px;
}

.chord:after {
  content: "\200b";
}

.lyrics:after {
  content: "\200b";
}

.song {
  margin-left: 60px;
  margin-top: 10px;
}
.song h1 {
  column-span: all;
  font-family: Futura;
}
.chord-sheet {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 10px;
  height: 85vh;
  margin-left: 30px;
}
.chord-sheet .paragraph {
  margin-top: 20px;
  flex: 1;
}
.chord {
  font-weight: bold;
}
.chorus {
  border-left: 3px dotted blue;
  padding-left: 6px;
}
.comment {
  border: 3px dotted blue;
  padding: 3px;
  font-weight: bold;
}
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: transparent;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
.sidenav-button a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav-contents {
  visibility: visible;
}
/* The navigation menu links */
.sidenav-contents a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  background-color: white;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}
